body {
    margin: 0px;
    background-color: beige;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10rem 1fr 2rem;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
    min-height: 100vh;
    margin: auto;
    max-width: 1600px;
}


.header {
    display: grid;
    grid-area: header;
    margin: 5%;
}

.header_buttons {
    display: flex;
    justify-content: center;
}
.header_button {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(6, 60, 10);
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 4px;
}


.content_front_page {
    grid-area: content;
    min-height: 100vh;
    background-color: rgb(170, 224, 154);

}


.spring_box {
margin-top: 30px;
 width: 10rem;
 height:2rem;
 background-color: black;
 animation-name: springAni;
 animation-duration: 10s;
 animation-timing-function;
 animation-timing-function: linear;
 animation-fill-mode:none;
 animation-iteration-count: infinite;
 position: absolute;

}

@keyframes springAni{
    0% {width: 10rem; height: 2rem;}
    17% {width: 1rem; height: 4rem;}
    19% { width: 12rem; height: 1.5rem;}
    20% {width: 10rem; height: 2rem;}
}

.ball {
    width: 100px;
    height: 100px;
    background-color:  rgb(227, 190, 137);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ballAni;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode:none;
    animation-iteration-count: infinite;
    position:relative;
}

   @keyframes ballAni {
    0% {left:10rem; top: 0%;}
    17% {left: 1rem; top: 0%; background-color: rgb(6, 60, 10);}
    20% { left: 10rem; top: 0%;}
    22% {left: 80%; top: 0%; background-color: rgb(242, 227, 19);}
    24% { left: 20%; top: 86%;}
    28% {left: 50%;  top: 0%; background-color: rgb(255, 162, 0);}
    33% {left: 80%; top: 86%}
    40% {left: 80%; top: 0%; background-color: rgb(238, 255, 0);}
    49% {left: 88%; top: 86%;}
    60% {left: 60%; top: 0%; background-color: rgb(255, 179, 0);}
    75% {left: 10%; top: 86%;}
    95% {left:10rem; top: 0%; background-color: rgb(227, 190, 137);}
    100% {left:10rem; top: 0%;}
  }

  .songtext {
    color: rgb(6, 60, 10);
  }




  /* ----------------------index page--------------------------- */



  .content_about_me {
    display: grid;
    grid-area: content;
    background-color: rgb(245, 245, 245);
    padding: 5%;
    line-height: 1.5rem;
  }

  .block2_about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    justify-content: center;
    line-height: 2rem;
    font-size: 1rem;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .headlines {
    font-size: 2rem;
    letter-spacing: 4px;
    padding: 5px;
    font-weight: bold;
    font-variant: small-caps;
  }


