html, body {
    margin: 0px;
    line-height: 20px;
}

main {
    max-width: 1200px;
    margin: auto;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 11rem 1fr 2rem;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
        min-height: 100vh;
}

.header{
    background-color: rgb(184, 204, 184);
    grid-area: header;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
}

.content {
    background-color: rgb(255, 255, 255);
    grid-area: content;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 13%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer{
    background-color: rgb(230, 199, 156);
    grid-area: footer;
}

.headlines {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 3px;
    padding-bottom: 4%;
    padding-top: 2%;
}

.headlines_small {
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    margin-top: 5px;
    color: rgb(7, 7, 7);
    background-color: rgb(230, 199, 156);
    border-radius: 10%;
    border-color: rgb(207, 172, 123);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.menu_container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self:stretch;
    justify-content: space-between; */
    display: flex;
    justify-content: space-between;
}

.content_portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-template-rows: repeat(auto-fit, 20rem);
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    align-items: end;
    
}



.hobbies { 
    columns: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
}

@media screen and (max-width: 850px){
    .hobbies {
        grid-template-columns: repeat(1, 1fr);
    }
}

.image_hobbies {
    align-content: right;
}

.favorites {
    text-align: left;
    column-gap: 25px;
    row-gap: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 850px){
    .favorites {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:1240px) {
    body {
    background-color: rgb(184, 204, 184);
}
}

@media screen and (max-width: 700px){
    .headlines {
        font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    }
}