html, body {
    margin: 0px;
    line-height: 20px;
}

main {
    max-width: 1200px;
    margin: auto; 
}
.container {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 10rem 1fr 2rem;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
    min-height: 100vh;
    margin: auto;
}


.header {
    display: grid;
    grid-area: header;
    margin: 4%;
}

.header_buttons {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.header_button {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 8rem;
    height: 3rem;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgb(6, 60, 10);
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 4px;
}


.content_front_page {
    grid-area: content;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    
}


.spring_box {
margin-top: 30px;
 width: 10rem;
 height:2rem;
 background-color: black;
 animation-name: springAni;
 animation-duration: 10s;
 animation-timing-function;
 animation-timing-function: linear;
 animation-fill-mode:none;
 animation-iteration-count: infinite;
 position: absolute;

}

@keyframes springAni{
    0% {width: 10rem; height: 2rem;}
    17% {width: 1rem; height: 4rem;}
    19% { width: 12rem; height: 1.5rem;}
    20% {width: 10rem; height: 2rem;}
}

.ball {
    width: 100px;
    height: 100px;
    background-color:  rgb(227, 190, 137);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ballAni;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode:none;
    animation-iteration-count: infinite;
    position:relative;
}

   @keyframes ballAni {
    0% {left:10rem; top: 0%;}
    17% {left: 1rem; top: 0%; background-color: rgb(6, 60, 10);}
    20% { left: 10rem; top: 0%;}
    22% {left: 80%; top: 0%; background-color: rgb(242, 227, 19);}
    24% { left: 20%; top: 86%;}
    28% {left: 50%;  top: 0%; background-color: rgb(255, 162, 0);}
    33% {left: 80%; top: 86%}
    40% {left: 80%; top: 0%; background-color: rgb(238, 255, 0);}
    49% {left: 88%; top: 86%;}
    60% {left: 60%; top: 0%; background-color: rgb(255, 179, 0);}
    75% {left: 10%; top: 86%;}
    95% {left:10rem; top: 0%; background-color: rgb(227, 190, 137);}
    100% {left:10rem; top: 0%;}
  }

/* .container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 11rem 1fr 2rem;
    grid-template-areas:
        "header header header"
        ". content ."
        "footer footer footer";
    min-height: 100vh;
} */

/* .header{
    background-color: rgb(184, 204, 184);
    grid-area: header;
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
} */

.content {
    background-color: rgb(255, 255, 255);
    grid-area: content;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer{
    background-color: rgb(230, 199, 156);
    grid-area: footer;
}

.headlines {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 3px;
    padding-bottom: 4%;
    padding-top: 2%;
}

.headlines_small {
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    margin-top: 5px;
    color: rgb(7, 7, 7);
    background-color: rgb(230, 199, 156);
    border-radius: 10%;
    border-color: rgb(207, 172, 123);
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    
}

/* .menu_container {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-self:stretch;
    justify-content: space-between; */
    /* display: flex;
    justify-content: space-between;
} */ 

.content_portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-template-rows: repeat(auto-fit, 20rem);
    row-gap: 30px;
    column-gap: 40px;
    justify-content: center;
    align-items: end;
    
}

.hobbies { 
    columns: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 850px){
    .hobbies {
        grid-template-columns: repeat(1, 1fr);
    }
}

.image_hobbies {
    align-content: right;
}

.favorites {
    text-align: left;
    column-gap: 25px;
    row-gap: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    padding-top: 10%;
    padding-bottom: 10%;
}

@media screen and (max-width: 850px){
    .favorites {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:1240px) {
    body {
    background-color: rgb(184, 204, 184);
}
}

@media screen and (max-width: 700px){
    .headlines {
        font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    }
}



.songtext {
    font-size: 1rem;
    color:  rgb(63, 102, 63);
    text-align: center;
    font-style:oblique;
    font-family: fantasy;
    font-variant: small-caps;
    text-align: center;
}

/* .box_front_page{
    grid-area: content;
    background-color: rgb(255, 255, 255);
 } */

/* .ball {
    width: 100px;
    height: 100px;
    background-color:  rgb(227, 190, 137);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: ballAni;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode:none;
    animation-iteration-count: infinite;
    position:relative;
}

@keyframes ballAni {
    0% {left:0%; top: 0%;}
    10% {background-color:  rgb(227, 190, 137)}
    12% {left: 10%; background-color: chartreuse;}
    14% {background-color: rgb(227, 190, 137);}
    25% { left: 0%; top: 86%;}
    35% {background-color: rgb(227, 190, 137);}
    37% {top: 76%; background-color: chartreuse;}
    39% {background-color: rgb(227, 190, 137);}
    50% { left: 88%; top: 86%;}
    60% {background-color: rgb(227, 190, 137);}
    62% {left: 78%; background-color: chartreuse;}
    64% {background-color: rgb(227, 190, 137);}
    75% {left: 88%; top: 0%;}
    85% {background-color: rgb(227, 190, 137);}
    87% {top: 10%; background-color: chartreuse;}
    89% {background-color: rgb(227, 190, 137);}
    100% {left: 0%; top: 0%;}
  }



  .hitter{
    color: blanchedalmond;
    width: 56.5%;
    height: 40%;
    background-color: black;
    top: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    animation-name: hitterAni;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-fill-mode:none;
    animation-iteration-count: infinite;
    position:absolute;
   }

  @keyframes hitterAni {
    0% {background-color: black;}
    11% {background-color: black;}
    12% { background-color: chartreuse;}
    13% {background-color:  black;}
    36% {background-color: black;}
    37% {background-color: chartreuse;}
    38% {background-color: black;}
    61% {background-color: black;}
    62% {background-color: chartreuse;}
    63% {background-color: black;}
    86% {background-color: black;}
    87% {background-color: chartreuse;}
    88% {background-color: black;}
    100% {background-color: black;}
  }


  @media screen and (max-width: 1100px){
    .hitter {
        margin-left: 23%;
        width: 55%;
    }
}
@media screen and (max-width: 950px){
    .hitter {
        margin-left: 25%;
        width: 53%;
    }
}
@media screen and (max-width: 750px){
    .hitter {
        margin-left: 30%;
        width: 47%;
    }
}
@media screen and (max-width: 550px){
    .hitter {
        margin-left: 37%;
        width: 40%;
    }
}

@media screen and (max-width: 420px){
    .hitter {
        width: 33%;
        margin-left: 44%;
    }
}
@media screen and (max-width: 380px){
    .hitter {
        width: 20%;
        margin-left: 50%;
    }
    .button {
        margin-top: 5px;
        color: black;
        background-color: rgb(230, 199, 156);
        border-radius: 10%;
        border-color: rgb(207, 172, 123);
        padding: 1px;
        padding-left: 5px;
        padding-right: 5px;
    }
} */
