h1 {
    color:#09762e;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}

.column-250px {
    columns: 2;
    column-gap: 80px;
    text-align: justify;
}


h2 {
    color:#09762e;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}

h3 {
    color:#09762e;
    font-size: 2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}

h4 {
    color: #09762e;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}


.hobbies {
    text-align: left;
}

.image {
    text-align:end;
}

.hobbies_image {
    columns: 2;
}

.all_hobbies_image {
    padding-top: 8%;
    padding-bottom: 4%;
}

body {
    background-color: #001004;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #f5f5f2;

    line-height: 30px;

    padding-left: 12%;
    padding-right: 12%;
}

footer {
    text-align: center;
    padding: 20%;
    font-style: italic;
}

