body {
    background-color: #001004;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f5f5f2;

    line-height: 30px;

    padding-left: 12%;
    padding-right: 12%;
    padding-top: 5%;
    padding-bottom: 12%;
}

.header {
    color:#09762e;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant-caps: small-caps;
}


h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 10%;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif
}

.about_jonk {
    text-align: justify;
    margin-top: 12%;
    margin-bottom: 12%;
}

.favorites {
    columns: 3;
    margin-top: 12%;
    margin-bottom: 20%;
}

h5 {
    margin-bottom: 0%;
    font-size: 1em;
    color: #74ed9d;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    font-family:Georgia, Times, 'Times New Roman', serif
}

.secondhand_trip {
    margin-top: 0%;
    margin-bottom: 18%;
    columns: 2;
    grid-template-columns: 2;
    grid-column: 2fr 1fr;
    font-style: italic;
    font-variant: small-caps;
    color: #74ed9d;
}

h6 {
    font-size: 20px;
    margin-bottom: 0%;
}